<div class="body">
  <div class="help">
    <img
      src="../../assets/NecesitasAyuda.svg"
      style="vertical-align: middle"
      alt="ayuda"
    />
    <a href=""> ¿Necesitas Ayuda?</a>
  </div>
  <div class="logo">
    <img src="../../assets/LogoEmpresas_V2.png" alt="" />
  </div>

  <div class="form">
    <img class="escudo" src="../../assets/Escudo.svg" alt="Escudo" />
    <h3 class="title">INGRESO SEGURO</h3>

    <p class="text">
      Un código de verificación fue enviado a tu correo, por favor introdúcelo
    </p>
    <mat-form-field class="field" style="text-align: center">
      <input matInput placeholder="Ingresa tu código de verificación" />
    </mat-form-field>

    <button class="btn">ENTRAR</button>
  </div>

  <div class="prefooter">
    <p>¿Quieres vincular tu empresa a Coink?</p>
  </div>
  <div class="footer">
    <p>Copyright 2018 Coink S.A</p>
  </div>
</div>
