<div class="body">
  <div class="help">
    <img
      src="../../assets/NecesitasAyuda.svg"
      style="vertical-align: middle"
      alt="ayuda"
    />
    <a href="">¿Necesitas Ayuda?</a>
  </div>
  <div class="logo">
    <img src="../../assets/LogoEmpresas_V2.png" alt="" />
  </div>

  <div class="form">
    <h3 class="title">INGRESA A TU CUENTA</h3>

    <mat-form-field class="field">
      <input matInput placeholder="Usuario" />
    </mat-form-field>
    <mat-form-field class="field">
      <input type="password" matInput placeholder="Contraseña" />
    </mat-form-field>

    <button class="btn">INGRESAR</button>
    <p class="options"><a href="">Olvidé mi PIN</a></p>
    <p class="options">
      <a href="">Olvidé mi número de celular empresarial</a>
    </p>
  </div>

  <div class="footer">
    <p>¿Quieres vincular tu empresa a Coink?</p>
  </div>
</div>
